<!DOCTYPE html>
<html>
<head>
  <title> Snake - by Spencer Dixon</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" charset="utf-8">
</head>
<body>

  <div>
    <input type="radio" id="repeatRadio">repeat</input>
    <input type="radio" id="repeatX">repeat X</input>
    <input type="radio" id="repeatY">repeat Y</input>
  </div>

  <canvas id="my-canvas" width="600" height="600">
    canvas cannot be displayed
  </canvas>

  <canvas id="grid" width="600" height="600">
    canvas cannot be displayed
  </canvas>

  <script type="text/javascript" src="/js/jquery.min.js"> </script>
  <script type="text/javascript" src="/js/example.js"> </script>
  <script type="text/javascript" src="/js/grid.js"> </script>
</body>
</html>
